---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where else you can find me | Phil Bowell</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS Feed">
</head>
<body id="home">
	<header>
		<div class="container">
			{% include navigation.html %}
		</div>
	</header>
	
	<div class="container content">
		<div class="link">
			<h2>Blog</h2>
		</div>
		<div class="link">
			<h2>Micro.blog</h2>
		</div>
		<div class="link">
			<h2>LinkedIn</h2>
		</div>
		<div class="link">
			<h2>Latest article</h2>
		</div>
		<div class="link">
			<h2>About me</h2>
		</div>
	</div>
		
	{% include footer.html %}

</body>
</html>