---
---
body {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.4em;
	margin: 0;
}


header {
	align-items: center;
	display: flex;
	font-size: 1.2rem;
	height: 100px;
	padding: 0 0 0 100px;
}

header p {
	font-weight: 700;
	margin: 0 20px 0 0;
}

nav a {
	margin: 0 10px 0 0;
}

.current {
	color: green;
}

.intro {
	font-size: 1.2rem;
	padding: 0 0 0 100px;
}

.intro p {
	max-width: 700px;
}

.content {
	padding: 20px 0 0 100px;
}

.content p {
	max-width: 650px;
}

#home article {
	align-items: baseline;
	display: flex;
}

#home article div {
	font-family: monospace;
	margin-right: 2em;
}

footer {
	padding: 20px 0 0 100px;
}