---
layout: default
---
<article class="post">
    <header class="post-title">
        <h1>{{ page.title }}</h1>
    </header>
    <div class="post-meta">
        <date>{{ page.date | date: "%Y-%m-%d" }}</date>
        <ul>
            {% for tag in page.tags %}
                <li>#{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    {{ content }}
    <footer class="post-footer">
        <div class="page-navigation">
          {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">
                <div class="direction">&#10094; Previous</div>
                <div class="title">{{page.previous.title}}</div>
            </a>
          {% endif %}
          {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">
                <div class="direction">Next &#10095;</div>
                <div class="title">{{page.next.title}}</div>
            </a>
          {% endif %}
        </div>
    </footer>
</article>
